<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <th:block th:include="include :: header('全局参数')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="addModule()">
                <i class="fa fa-plus"></i> 新增
            </a>
            <form id="post-form">
                <div class="select-list">
                    <ul>
<!--                        <li>-->
<!--                            关键字：<input type="text" name="name"/>-->
<!--                        </li>-->
                        <li>
                            <label class="font-noraml">参数类型:</label>
                        </li>
                        <li>
                            <select class="form-control" id="platformParam" name="platformParam" onchange="paramType()">
                                <option value="true" selected>平台</option>
                                <option value="false">应用</option>
                            </select>
                        </li>
                        <li>
                            <label class="font-noraml">系统平台</label>
                        </li>
                        <li>
                            <select id="platformId" name="platformId" class="form-control"
                                    th:with="type=${platforms}">
                                <option th:each="data : ${type}" th:text="${data.name}"
                                        th:value="${data.id}"></option>
                            </select>
                        </li>
                        <li>
                            <label id="moduleName"  class="font-noraml">应用模块</label>
                        </li>
                        <li>
                            <select id="moduleId" name="moduleId" class="form-control">

                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchparam()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "web/globalParamConfig";

    $(function () {
        //默认隐藏
        $('#moduleId').hide();
        $('#moduleName').hide();
        var options = {
            url: prefix + "/listAllBySearch",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            showSearch: false,
            sidePagination: "client",
            popModalWidth: 800,
            popModalHeight: 400,
            sortName: "id",
            uniqueId: "id",
            modalName: "全局参数",
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'platform.name',
                    title: '业务平台',
                    sortable: false
                },
                {
                    field: 'applicationModule.name',
                    title: '应用模块',
                    sortable: false
                },
                {
                    field: 'paramDataType',
                    title: '数据类型',
                    sortable: true,
                    formatter: function (value, row, index) {
                        if(value==='REFERENCE'){
                            return '引用';
                        }else if(value === 'KEY_VALUES'){
                            return '键值对';
                        }
                        return '字符串';
                    }
                },
                {
                    field: 'paramKey',
                    title: '全局参数key值',
                    sortable: true
                },
                {
                    field: 'paramValue',
                    title: '全局参数value值',
                    sortable: true
                },
                {
                    field: 'remark',
                    title: '全局参数说明',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    function addModule() {
        let platformId = $.form.selectSelects("platformId");
        let platformParam = $.form.selectSelects("platformParam");
        // 添加模块  获取筛选的平台id
        var url = prefix + "/add/" + platformId+"/"+platformParam;
        $.modal.open("添加全局参数", url);
    }

    function searchparam() {
        $('#platformId').attr("disabled",false);
        $.table.search();
        var ind = document.getElementById("platformParam").selectedIndex;
        if (ind === 1) {
            //平台禁止选择
            $('#platformId').attr("disabled", true);
        }
    }
    function paramType() {
        var ind = document.getElementById("platformParam").selectedIndex;
        var platformId = $("#platformId").val();
        console.log(platformId);
        if (ind === 1) {
            //平台禁止选择
            $('#platformId').attr("disabled", true);
            var url =  ctx + "web/module/listPlatformModule";
            var data ={platformId : platformId};
            //显示应用
            $('#moduleName').show();
            $('#moduleId').show();
            //加载应用数据
            getBaseOptionFun("moduleId",url,data);


        } else {
            //删除应用数据
            $("#moduleId").empty();
            //平台可选择
            $('#platformId').attr("disabled",false);
            //隐藏应用数据
            $('#moduleName').hide();
            $('#moduleId').hide();
        }
    }

    function getBaseOptionFun(selectId,url,data){
        $("#" + selectId + "").empty();
        $.ajax({
            url: url,
            type: "POST",
            data:data,
            async : false,
            success: function (result) {
                console.log(result);
                var rows =result.rows;
                if(rows!= "" && rows!= null){
                    for(let i = 0; i < rows.length; i++){
                            $("#" + selectId + "").append("<option value='"+rows[i].id+"'>"+rows[i].name+"</option>");//新增
                    }
                    $("#"+selectId+" option:eq(0)").attr('selected', 'selected');//选中第一个
                }
            },
            fail: function (status) {
                // 此处放失败后执行的代码
            }
        });
    }


</script>
</body>
</html>






